* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;

  background: linear-gradient(#fa4, #f44) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 450px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
  border: 0.1em solid rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5em;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  color: #f1f1f1;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  margin-right: 15px;
}

.groupInput {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}

.groupInput i {
  font-size: 1.5em;
  position: relative;
  left: 1.6em;
  color: #8c8c8c;
  transition: all 0.5s ease-in;
}

.groupInput input {
  flex: 1;
  padding: 1em 1em 1em 3em;
  border: 0.1em solid transparent;
  background: #fff;
  color: #3d3d3d;
  font-size: 1em;
  max-width: 20em;
  border-radius: 0.3em;
}

.groupInput input:focus + i {
  color: #2d2d2d;
}

.btn {
  display: inline-block;
  padding: 1em 4em;
  border: none;
  margin: 1.5em auto 0 auto;
  font-size: 1.2em;
  cursor: pointer;
}

.btnLogin {
  background: none;
  border: 1px solid #fa4;
  color: #fa4;
  text-transform: uppercase;
  border-radius: 2em;
  transition: all 0.5s ease-in-out;
}

.btnLogin:hover {
  background: #fa4;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
